#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_OPEN 10002
#define IDM_SAVE 10015
#define IDM_Save_AS 10003
#define IDM_BAR 10004
#define IDM_EXIT 10005
#define IDM_EDIT 10006
#define IDM_UNDO 10007
#define IDM_REDO 10008
#define IDM_BAR2 10014
#define IDM_CUT 10009
#define IDM_COPY 10010
#define IDM_PASTE 10011
#define IDM_HELP 10012
#define IDM_ABOUT 10013
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&Open...\tCtrl+O",IDM_OPEN
    MENUITEM "&Save\tCtrl+S",IDM_SAVE
    MENUITEM "&Save As...",IDM_Save_AS
    MENUITEM "",IDM_BAR,0x00000800,0x00000003
    MENUITEM "&Exit",IDM_EXIT
  END
  POPUP "&Edit",IDM_EDIT
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_REDO
    MENUITEM "",IDM_BAR2,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_CUT
    MENUITEM "&Copy\tCtrl+C",IDM_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_PASTE
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "&About",IDM_ABOUT
  END
END
